
.banner {
    position: relative;

    & .logo {
        width: 100%;
    }

    & h2 {
        font-family: var(--font-title);
        color: #fdfdfd;
        position: absolute;
        left: 50%;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
        top: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}

@media  screen and (min-width: 0) {
    .logo {
        height: 10px;
    }

    h2 {
        font-size: 4rem;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        height: 20px;
    }

    h2 {
        font-size: 8rem;
    }
}