
.banner {
    position: relative;

    & #img-banner {
        width: 100%;
        object-fit: cover;
    }

    & h2 {
        font-family: var(--font-title);
        color: #fdfdfd;
        position: absolute;
        left: 50%;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
        top: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}


@media screen and (min-width: 0) {

    .banner {
        & #img-banner {
            height: calc(100vh - 51px);
        }

        & h2 {
            font-size: 7rem;
        }
    }
}

@media screen and (min-width: 768px) {

    .banner {
        & #img-banner {
            height: calc(100vh - 72px);
        }

        & h2 {
            font-size: 9rem;
        }
    }
}

