.menu__item {
    list-style: none;
}

.menu__lista {
    display: flex;
}

#ativo {
    color: #333333;
    font-weight: bold;
}

.menu__link {
    color: #808080;
    margin-right: 3rem;
    text-decoration: none;
    font-size: large;
}

.menu__link:hover {
    text-decoration: underline;
}