.quem-somos {
    text-align: center;
    padding: 5rem;

    & h3 {
        margin-bottom: 1rem;
        color: #8d0606;
        font-size: 4rem;
        font-family: var(--font-title);
    }

    & p {
        font-weight: 300;
        font-size: 2.5rem;
        color: #595959;
    }
}

.pessoa {
    display: flex;
    flex-direction: column;
}

.pessoas {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.pessoa-imagem {

    & img {
        height: 300px;
        width: 300px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 2%;
    }

}

.pessoa-nome {
    margin: 1rem 0;
    font-family: var(--font-title);
    color: #8d0606;
    font-size: 5rem;
}

.pessoa-funcao {
    text-transform: lowercase;
    color: #595959;
    font-family: var(--font-title);
    font-size: 3rem;
}

@media screen and (min-width: 0) {
    .pessoas {
        flex-direction: column;
    }

    .pessoa {
        margin-bottom: 2rem;
    }

    .pessoa-nome {
        font-size: 2.5rem;
    }

    .pessoa-funcao {
        font-size: 1.9rem;
    }
}

@media screen and (min-width: 768px) {
    .pessoas {
        flex-direction: row;
    }

    .pessoa {
        margin-bottom: 0;
    }
    
    .pessoa-nome {
        font-size: 5rem;
    }

    .pessoa-funcao {
        font-size: 3rem;
    }
}