.sobre {
    text-align: center;
    padding: 2rem;
    
    & h2 {
        color: #8d0606;
        font-family: var(--font-title);
        font-size: 5rem;
    }

    & p {
        color: #595959;
        font-size: 3rem;
        font-weight: 200;
    }
}