header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;

    & ul{
        display: flex;
    }

    & li{
        list-style: none;
    }

    & a{
        color: #808080;
        margin-right: 3rem;
        text-decoration: none;
        font-size: large;
    }

    & a#ativo{
        color: #333333;
        font-weight: bold;
    }

    & a:hover{
        text-decoration: underline;
    }
}

